#leetrooms-iframe {
    border-radius: 0.5rem;
}

#leetrooms-handlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

#leetrooms-handlebar:hover {
    background-color: rgb(0, 132, 255);
}

#leetrooms-handlebar:active {
    background-color: rgb(0, 132, 255);
}

.handlebar-svg {
    fill: rgb(58, 58, 58);
}

#open-handlebar-svg {
    transform: rotate(180deg);
}

#leetrooms-handlebar:hover > #drag-handlebar-svg {
    fill: rgb(0, 132, 255);
}

#leetrooms-handlebar:active > #drag-handlebar-svg {
    fill: rgb(0, 132, 255);
}

#leetrooms-handlebar:hover > #open-handlebar-svg {
    fill: white;
}

#leetrooms-handlebar:active > #open-handlebar-svg {
    fill: white;
}
