body {
    width: 300px;
    padding: 0.5rem;
}

h2 {
    margin: 0;
}

.flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.flex-col-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.flex-col-root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.flex-col-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
}

#leetrooms-instructions {
    gap: 0.75rem;
}

#leetrooms-instructions-text {
    font-size: 0.9rem;
}

#leetcode-link {
    background-color: #2ecc71;
    color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
}

#github-link {
    font-size: 0.8rem;
    color: blue;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}

input:checked + .slider {
    background-color: #2ecc71;
}

input:focus + .slider {
    background-color: #2ecc71;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#leetrooms-icon {
    width: 1.75rem;
    height: auto;
}
